
@{
	ViewBag.Title = "Ticket";
}

<div class="blank">

	<div id="partialTotal">
		@Html.Partial("_Total")
	</div>

	@(Html.Kendo().Grid<WallsWS.Models.vis_VENTASTICKET_PRODUCTOS>()
	  .Name("grid")
	  .Columns(columns =>
	  {
		  columns.Bound(c => c.Venta_Id).Hidden();
		  columns.Bound(c => c.Prod_Id).Title("Producto").EditorTemplateName("_Producto").Width(200);
		  columns.Bound(c => c.serv_name).Title("Producto").Width(200);
		  columns.Bound(c => c.Ticket_Id).Hidden();
		  columns.Bound(c => c.Venta_Cantidad).Title("Cantidad").Width(150);
		  columns.Bound(c => c.Prod_Price).Title("Precio").Format("{0:C}").Width(150);
		  columns.Bound(c => c.Venta_Importe).Title("Subtotal").Format("{0:C}").Width(150);
		  columns.Bound(c => c.venta_discount).Title("Descuento").Format("{0:C}").Width(150);
		  columns.Bound(c => c.disc_desc).Title("Descripción").Width(200);
		  columns.Command(command => { command.Edit().Text("Editar").UpdateText("Guardar").CancelText("Cancelar"); command.Destroy().Text("Eliminar"); }).Width(180);
	  })
	  .ToolBar(toolbar =>
	  {
		  toolbar.Create().Text("Agregar");
		  toolbar.Excel();
		  toolbar.Pdf();
	  })
	  .Pageable()
	  .Filterable()
	  .Scrollable()
	  .Events(e =>
	  {
		  e.Save("onSave");
		  e.SaveChanges("OnChange");
		  e.Edit("OnEdit");
		  e.Remove("OnRemove");
	  })
	  .DataSource(dataSource => dataSource
		  .Ajax()
		  .Model(model =>
		  {
			  model.Id(p => p.Venta_Id);
			  model.Field(p => p.Prod_Price).Editable(false);
			  model.Field(p => p.Venta_Importe).Editable(false);
			  model.Field(p => p.serv_name).Editable(false);
		  })
		  .Events(events =>
		  {
			  events.RequestEnd("onRequestEnd"); //I've added this
		  })
		  .Read(read => read.Action("TICKETS_Read", "Tickets"))
		  .Create(create => create.Action("TICKETS_Create", "Tickets"))
		  .Update(update => update.Action("TICKETS_Update", "Tickets"))
		  .Destroy(destroy => destroy.Action("TICKETS_Delete", "Tickets"))
	  ).HtmlAttributes(new { style = "heigth: 400px" })
	)

	<br />

	<table>
		<tr>
			<td>Tipo de Pago:</td>
			<td>
				@(Html.Kendo().DropDownList()
		  .Name("pago")
		  .OptionLabel("Seleccione")
		  .DataTextField("Text")
		  .DataValueField("Value")
		  .BindTo(new List<SelectListItem>() {
			  new SelectListItem() {
				  Text = "Efectivo",
				  Value = "0"
			  },
			  new SelectListItem() {
				  Text = "Tarjeta",
				  Value = "1"
			  }
		  })
		  .HtmlAttributes(new { style = "width: 100%" })
			)
		</td>
		<td><input type="button" onclick="Close();" value="Terminar Venta" /></td>
	</tr>
</table>
	</div>
<script>
	function Close()
	{
		var tp = $("#pago").val();
		//alert("cierra" + tp)
		$.ajax({
			type: "POST",
			data: {Tp:tp},
			url:'@Url.Action("TICKETS_Close", "Tickets")',
			success: function (response) {
				if (response != null && response.success) {
					alert(response.responseText);
					window.open('/Agenda/Agenda', "_self")
				} else {
					// DoSomethingElse()
					alert(response.responseText);
				}
			},
			error: function (response) {
				alert("Seleccione metodo de pago");  //
			}

		});
	}
</script>
<script>
	function onRequestEnd(e) {
		if (e.type == "update" && !e.response.Errors) {
			//alert("Update record is successfull");
			$("#partialTotal").load('@Url.Action("GetTotal", "Tickets")')
    }

    if (e.type == "create" && !e.response.Errors) {
		//alert("Create record is successfull");
		$("#partialTotal").load('@Url.Action("GetTotal", "Tickets")')
    }

	}
	//alert("Refresca")
	function onSave(e) {
		//alert("Onsave");
		e.sender.one("dataBound", function () {
			e.sender.dataSource.read();
			$("#partialTotal").load('@Url.Action("GetTotal", "Tickets")')
		});

	}

	function OnChange(e)
	{
		//alert("Onchange");
		$("#partialTotal").load('@Url.Action("GetTotal", "Tickets")')
	}

	function OnEdit(e)
	{
		//alert("Onedit");
		//$("#partialTotal").load('@Url.Action("GetTotal", "Tickets")')
	}

	function OnRemove(e)
	{
		alert("Onremove");
		$("#partialTotal").load('@Url.Action("GetTotal", "Tickets")')
	}

</script>





